@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;1,400;1,600;1,700&display=swap');
:root {
    --themeRed: #e43a47;
    --gray: #efefef;
}

html {
    scroll-behavior: smooth;
}

button,
body {
    font-family: 'Instrument Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 26px;
}

.fullContainer {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}


/* for about us title  */

.sectionTitle {
    width: 300px;
    border-bottom: 3px solid var(--themeRed);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after {
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--themeRed);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    padding: 100px 0;
    position: relative;
}


/* home page style  */

header {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    z-index: 3;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    padding: 15px 0;
    height: 75px;
}

header .container .logo img {
    height: 100%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--themeRed);
    transition: 1s;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner h1 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 3px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color: var(--themeRed);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 500;
    border-radius: 5px;
}

.banner p {
    color: #fff;
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.banner .btn a {
    background-color: var(--themeRed);
    margin-top: 50px;
    border: 0;
    padding: 5px 15px;
    font-size: medium;
    outline: none;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10% 10%;
}


/* for about us styling  */

#aboutSection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    position: relative;
    height: 245px;
}

#aboutSection .cards>div {
    width: 345px;
    background-color: var(--gray);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 5px;
    height: 215px;
    border: 1px solid #ccc;
    transition: 0.9s;
}

#aboutSection .cards>div:hover {
    width: 348px;
    margin-top: -20px;
    border-color: var(--themeRed);
    padding: 55px;
    height: auto;
}

#aboutSection .cards>div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#aboutSection .cards>div p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#aboutSection .cards .btn a {
    border: 1px solid var(--themeRed);
    outline: none;
    margin-top: 15px;
    padding: 7px 15px;
    font-size: 12px;
    text-decoration: none;
    border-radius: 20% 2%;
    cursor: pointer;
    transition: 0.9s;
}

#aboutSection .cards>div:hover .btn a {
    background-color: var(--themeRed);
    color: #fff;
}


/* program section  */

.programs {
    background-color: #e2e2e2;
}

.programs .boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.programs .boxContainer .box {
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #c5c5c5;
    position: relative;
    margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage::after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(100%);
    transition: 0.5s;
}

.programs .boxContainer .box:nth-child(1) .cardImage,
.programs .boxContainer .box:nth-child(1) .cardImage::after {
    background-image: url("../images/11.jpg");
}

.programs .boxContainer .box:nth-child(2) .cardImage,
.programs .boxContainer .box:nth-child(2) .cardImage::after {
    background-image: url("../images/2.jpg");
}

.programs .boxContainer .box:nth-child(3) .cardImage,
.programs .boxContainer .box:nth-child(3) .cardImage::after {
    background-image: url("../images/3.jpg");
}

.programs .boxContainer .box:nth-child(4) .cardImage,
.programs .boxContainer .box:nth-child(4) .cardImage::after {
    background-image: url("../images/4.jpg");
}

.programs .boxContainer .box:hover .cardImage::after {
    top: 100%;
}

.programs .boxContainer .box .programTitle {
    font-size: 16px;
    margin-top: 25px;
    font-weight: 500;
    color: #444;
}

.programs .boxContainer .box .donationCount {
    font-size: 13px;
    font-weight: 500;
    color: #444;
    margin-top: 10px;
}

.programs .boxContainer .box .donationCount span {
    color: var(--themeRed);
}

.programs .boxContainer .box .btn a {
    position: absolute;
    left: 50%;
    background-color: var(--themeRed);
    color: #fff;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    text-decoration: none;
    border: 0;
    outline: none;
    cursor: pointer;
}


/* for education style */

.education {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.education .videoPlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.education .sectionTitle {
    color: #fff;
    text-shadow: 0 0 4px #000;
}

.education .educationContainer {
    position: absolute;
    background-color: #00000096;
    width: 600px;
    top: 35vh;
    color: #fff;
    text-shadow: 0 0 3px #000;
    padding: 30px;
}

.education .educationContainer h3 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 15px;
}

.education .educationContainer p {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0 30 px;
    margin-bottom: 15px;
}

.education .educationContainer .btn a {
    position: absolute;
    left: 50%;
    background-color: var(--themeRed);
    color: #fff;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    text-decoration: none;
    border: 0;
    outline: none;
    cursor: pointer;
}


/* gallery  */

.gallery .galleryContainer {
    column-count: 4;
    column-gap: 30px;
}

.gallery .galleryContainer .item {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery .galleryContainer img {
    width: 100%;
    display: block;
    transition: 0.4s;
}

.gallery .galleryContainer .title {
    position: absolute;
    background-color: var(--gray);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    transition: 0.4s;
}

.gallery .galleryContainer .item:hover .title {
    opacity: 1;
}

.gallery .galleryContainer .item:hover img {
    transform: scale(1.2);
}

.join {
    background-image: url("../images/p.jpg");
    color: #fff;
}

.join .joinTitle {
    font-size: 40px;
    font-weight: 100;
}

.join .joinTitle span {
    font-weight: 800;
}

.join .btn a {
    position: absolute;
    margin-top: 20px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    background-color: var(--themeRed);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}


/* footer section  */

footer {
    background-color: #181818;
    color: #7f7f7f;
    padding: 50px 0;
    font-size: 14px;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
}

footer .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding: 0 0 5px 0;
}

footer p {
    margin-bottom: 10px;
}

footer .linksContainer ul {
    list-style-type: none;
}

footer .linksContainer ul li a {
    text-decoration: none;
    color: #7f7f7f;
    margin-bottom: 10px;
    display: inline-block;
}

footer .newsLetterContainer img {
    height: 40px;
    margin-bottom: 11px;
}

footer .newsLetterContainer input {
    background-color: transparent;
    border: 1px solid #7f7f7f;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    color: #ccc;
    border-radius: 30px;
}

footer .connectContainer a {
    text-decoration: none;
    margin: 10px;
    color: #ccc;
    font-size: 15px;
}

footer .pages a:hover {
    color: var(--themeRed);
}


/* Responsive */

@media screen and (max-width:1140px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width:1080px) {
    .banner h1 {
        margin-top: 200px;
    }
    #aboutSection .cards {
        justify-content: space-around;
        height: auto;
    }
    #aboutSection .cards>div {
        margin: 10px 0;
    }
}

@media screen and (max-width:1024px) {
    .banner {
        background-position-x: 45%;
    }
    .banner h1 {
        font-size: 2.5rem;
    }
    .programs .boxContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:990px) {
    header nav {
        position: relative;
        border: 2px solid #fff;
        height: 30px;
        width: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }
}


/* for Donation page */

.donate {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("images/donate_back.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: -1.5%;
    color: white;
    text-align: center;
}

.donate .donate_container {
    background-color: black;
    opacity: 80%;
    text-align: center;
    margin: 0% 20% 0% 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.donate .donate_container h1 {
    color: rgb(79, 255, 88);
    line-height: 50px;
    font-size: 30px;
}

.donate .donate_container p {
    font-size: large;
    width: 80%;
    text-align: center;
    padding-left: 20%;
}

.donate .donate_container .second {
    padding-bottom: 10%;
}

.donate .side_btn a {
    text-decoration: none;
    font-size: 120%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    border: 2px double whitesmoke;
    transition: 0.5s;
}

.donate .side_btn a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: none;
    border: 4px solid green;
    transition: 0.5s;
}